<div id='menu'>
  <a href='/'>home</a>
</div>
<div id='about'>
  <p>
    This app has been made by
    <a href="http://twitter.com/domininik">me</a>
    during the Creative Day at
    <a href='http://applicake.com'>Applicake</a>.
  </p>
  <p>
    It uses
    <a href="http://www.maxmind.com/">MaxMind</a>
    for geolocation and
    <a href="http://www.airqualitynow.eu/">Air Quality Now</a>
    for air quality data.
  </p>
  <p>
    This means it works only in *large european cities.
  </p>
  <p class='small'>*I'm sorry Warsaw is not included ;)</p>
</div>
